footer.page-footer {
  background-color: rgb(108, 119, 119);
    text-decoration-color: black;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;

}
div.nav-wrapper{
    background-color: black;
}
body {
    background-color: rgba(3, 3, 3, 0.89);
}
head {
    text-align: center;
}